 <!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <div class="profile-container">
        <h3>User info</h3>
        
    　　<h3 class="profile-name">name <%= @user.name %></h3>
    　　<h3 class="profile-introduction">introduction <%=@user.introduction %></h3>
    　　<% if @user.id == current_user.id %>
      　　<p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
    　　<% end %>
    </div>

    <h2>Books</h2>
    <table>
      <thead>
        <tr>
          <td>Title</td>
          <td>Opinion</td>
        </tr>
      </thead>

      <tbody>
          <% @books.each do |book| %>
          <tr>
            <td>
            <%= link_to book_path(book.id) do %>
            <%= book.title %>
            <% end %>
            </td>
            <td><%= book.body %></td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </body>
</html>