<% books.each do |books| %>
  <tr id="book_<%= books.id %>">
    <td>
      <%= link_to user_path(books.user) do %>
      <%= attachment_image_tag books.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg",size: '40x40' %>
      <% end %>
    </td>
    <td>
      <%= link_to book_path(books.id) do %>
      <%= books.title %>
      <% end %>
    </td>
    <td><%= books.body %></td>
    <td class="favorite-btn">
      <%= render 'favorites/favorite-button', books: books %>
    </td>
    <td class="comments-count">
      コメント数: <%= books.book_comments.count %>
    </td>
  </tr>
<% end %>