<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <% if @book.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <%= @book.errors.count %>error found
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <%= render 'users/list', user: @user, book: @book %>
        </div>


        <div class="col-md-8 offset-md-1">
          <h2>Books</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <td>Title</td>
                <td>Opinion</td>
              </tr>
            </thead>
            <tbody>
              <% @books.each do |book| %>
              <tr>
                <%= link_to user_path(@user.id) do %>
                <td><%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg",size: '40x40' %></td>
                <% end %>
                <td>
                <%= link_to book_path(book.id) do %>
                <%= book.title %>
                <% end %>
                </td>
                <td><%= book.body %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>