<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <%= render 'users/list', user: @user, book: @book %>
        </div>


        <div class="col-lg-8">
          <h2>Book detil</h2>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td><%= @books.title %></td>
                <td><%= @books.body %></td>
                <td>
                <% if @books.user == current_user %>
                  <button type="button" class="btn btn-success">
                    <%= link_to "Edit", edit_book_path(@books.id) %>
                  </button>
                  <button type="button" class="btn btn-danger">
                    <%= link_to "Destroy", book_path(@books), method: :delete %>
                  </button>
                <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>