<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <%= render 'users/list', user: @user, book: @book %>
        </div>


        <div class="col-md-8 offset-md-1">
          <h2>Book detail</h2>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td class="card-body">
                  <%= link_to user_path(@user.id) do %>
                  <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg",size: '40x40' %>
                  <div class="card-title">
                    <%= @user.name %>
                  </div>
                  <% end %>
                </td>
                <td><%= @books.title %></td>
                <td><%= @books.body %></td>
                <td>
                <% if @books.user == current_user %>
                  <button type="button" class="btn btn-success">
                    <%= link_to "Edit", edit_book_path(@books.id) %>
                  </button>
                  <button type="button" class="btn btn-danger">
                    <%= link_to "Destroy", book_path(@books.id), method: :delete, "data-confirm" => "本当に消しますか?" %>
                  </button>
                <% end %>
                </td>
                <td>
                <% if @books.favorited_by?(current_user) %>
                  <td>
                    <%= link_to book_favorites_path(@books), method: :delete do %>
                      ♥<%= @books.favorites.count %>
                    <% end %>
                  </td>
                  <% else %>
                  <td>
                    <%= link_to book_favorites_path(@books), method: :post do %>
                      ♡<%= @books.favorites.count %>
                    <% end %>
                  </td>
                <% end %>
                </td>
                <td>コメント数：<%= @books.book_comments.count %></td>
              </tr>
            </tbody>
          </table>
          <table>
            <tbody>
              <% @books.book_comments.each do |book_comment| %>
              <tr class="comments">
                <td class="card-body">
                  <%= link_to user_path(book_comment.user.id) do %>
                  <%= attachment_image_tag book_comment.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg",size: '40x40' %>
                  <div class="card-title">
                    <%= book_comment.user.name %>
                  </div>
                  <% end %>
                </td>
                <td><%= book_comment.comment %></td>
                <td>
                <% if book_comment.user == current_user %>
                  <button type="button" class="btn btn-danger">
                    <%= link_to "Destroy", book_book_comment_path(book_comment.book,book_comment), method: :delete %>
                  </button>
                <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <div class="new-comment">
          <%= form_with(model:[@books, @book_comment], local: true) do |f| %>
            <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
            <%= f.submit "送信" %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>