<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/df2a159776.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body class="d-flex flex-column vh-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <span>Bookers</span>
          </a>
          <div>
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>

            <li class="nav-item">
              <%= link_to "Home", user_path(current_user.id), class: 'nav-link text-white fas fa-home' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Users', users_path, class: 'nav-link text-white fas fa-users' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Books', books_path, class: 'nav-link text-white fas fa-book-open' %>
            </li>
            <li class="nav-item">
              <%= link_to "logout", destroy_user_session_path, method: :delete, class: 'nav-link text-white fas fa-sign-out-alt' %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "Home", root_path, class: 'nav-link text-white fas fa-home' %>
            </li>
            <li class="nav-item">
              <%= link_to "About", homes_path, class: 'nav-link text-white fas fa-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "sign up", new_user_registration_path, class: 'nav-link text-white fas fa-user-plus' %>
            </li>
            <li class="nav-item">
              <%= link_to "login", new_user_session_path, class: 'nav-link text-white fas fa-sign-in-alt' %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer class="bg-white text-dark">
      <p class="text-center">
        CopyRight Infratop.inc
      </p>
    </footer>
  </body>
</html>
