<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body　class="d-flex flex-column vh-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-light">
        <a href="/" >Bookers</a>
        <div>
          <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Home", user_path(current_user.id) %>
          </li>
          <li class="nav-item">
            <%= link_to 'Users', users_path %>
          </li>
          <li class="nav-item">
            <%= link_to 'Books', books_path %>
          </li>
          <li class="nav-item">
            <%= link_to "logout", destroy_user_session_path, method: :delete %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Home", root_path %>
          </li>
          <li class="nav-item">
            <%= link_to "About", homes_path %>
          </li>
          <li class="nav-item">
            <%= link_to "sign_up", new_user_registration_path %>
          </li>
          <li class="nav-item">
            <%= link_to "login", new_user_session_path %>
          </li>
          <% end %>
        </div>
      </nav>
    </header>

    <%= yield %>
    <footer class="bg-white text-dark pt-5 pb-4">
      CopyRight Infratop.inc
    </footer>
  </body>
</html>
